# Probabilidades condicionais - Esportes
O conjunto de dados a seguir relaciona os esportes preferidos de 300 pessoas. Execute o código e inspecione algumas linhas do DataFrame.

In [1]:
import pandas as pd
import numpy as np

# Criação do pandas DataFrame
esportes = pd.DataFrame({'gênero': np.repeat(np.array(['Masculino', 'Feminino']), 150),
                         'esporte': np.repeat(np.array(['Beisebol', 'Basquete',
                                                        'Futebol', 'Vôlei',
                                                        'Beisebol', 'Basquete',
                                                        'Futebol', 'Vôlei']),
                                              (34, 40, 58, 18, 34, 52, 20, 44))})
# Inspeção de algumas linhas do painel de dados
display(esportes.head())
display(esportes.tail())

      gênero   esporte
0  Masculino  Beisebol
1  Masculino  Beisebol
2  Masculino  Beisebol
3  Masculino  Beisebol
4  Masculino  Beisebol

       gênero esporte
295  Feminino   Vôlei
296  Feminino   Vôlei
297  Feminino   Vôlei
298  Feminino   Vôlei
299  Feminino   Vôlei

## Tabela de distribuição conjunta de frequências
O cálculo de probabiidades condicionais fica facilitado a partir de uma tabela de distribuição conjunta de frequências. No caso desse exemplo, a tabela indicará as ocorrências de cada esporte em função do gênero do entrevistado. As colunas e linhas de rótulo "All" revelam os totais de ocorrências.

In [4]:
# Construção da tabela de distrbuição conjunta
'''Seu código aqui!'''
dist_conj = pd.crosstab(index=esportes['gênero'], columns=esportes['esporte'], margins=True)
# Inspeção da tabela de distribuição conjunta
display(dist_conj)

esporte    Basquete  Beisebol  Futebol  Vôlei  All
gênero
Feminino         52        34       20     44  150
Masculino        40        34       58     18  150
All              92        68       78     62  300

## Cálculo de probabilidades condicionais
Use a tabela de distribuição conjunta da cálula anterior e calcule a probabilidade de que um indivíduo sorteado aleatoriamente:

*   seja do gênero masculino, visto que seu esporte preferido é o beisebol.
*   tenha por esporte preferido o basquete, dado que seja do gênero feminino.

No cáclulo dessas probabilidades, use o método iloc do pandas DataFrame para localizar a informação desejada em termos das coordenadas de linha e coluna da tabela de distribuição conjunta.

In [7]:
# Probabilidade de ser do gênero masculino, dado que é fã de beisebol
'''Seu código aqui!'''
prob1 = dist_conj.iloc[1, 1] / dist_conj.iloc[2, 1]
print(f'P(masculino|beisebol) = {prob1*100:.2f}%')

# Probabilidade de ser fã de basquete, dado que é do gênero feminino
'''Seu código aqui!'''
prob2 = dist_conj.iloc[0, 0] / dist_conj.iloc[0, 4]
print(f'P(basquete|feminino) = {prob2*100:.2f}%')

P(masculino|beisebol) = 50.00%
P(basquete|feminino) = 34.67%

## Distribuição conjunta normalizada pelas colunas

Para determinar todas as probabilidades condicionais do tipo P(Gênero|Esporte), basta normalizar a tabela de distribuição conjunta usando as colunas.

In [8]:
''' Tabela de distribuição conjunta normalizada pelas colunas: Em nosso exemplo,
exibe todas as probabilidades condicionais do tipo P(Gênero|Esporte)'''
'''Seu código aqui!'''
dist_conj_colunas = pd.crosstab(index=esportes['gênero'],
                                columns=esportes['esporte'],
                                margins=True,
                                normalize='columns')
# Inspeção da tabela
display(dist_conj_colunas)

esporte    Basquete  Beisebol  Futebol     Vôlei  All
gênero
Feminino   0.565217       0.5  0.25641  0.709677  0.5
Masculino  0.434783       0.5  0.74359  0.290323  0.5

## Distribuição conjunta normalizada pelas linhas (índice)

Em contraste, para determinar todas as probabilidades condicionais do tipo P(Esporte|Gênero), basta normalizar a tabela de distribuição conjunta usando as linhas (ou seja, os índices).

In [9]:
''' Tabela de distribuição conjunta normalizada pelas linhas: Em nosso exemplo,
exibe todas as probabilidades condicionais do tipo P(Esporte|Gênero)'''
'''Seu código aqui!'''
dist_conj_linhas = pd.crosstab(index=esportes['gênero'],
                                columns=esportes['esporte'],
                                margins=True,
                                normalize='index')

# Inspeção da tabela
display(dist_conj_linhas)

esporte    Basquete  Beisebol   Futebol     Vôlei
gênero
Feminino   0.346667  0.226667  0.133333  0.293333
Masculino  0.266667  0.226667  0.386667  0.120000
All        0.306667  0.226667  0.260000  0.206667

# Probabilidades condicionais - automóveis
O conjunto de dados a seguir reune informações sobre a montadora, o modelo, o tipo e a classificação (nota atribuída por imprensa qualificada) de alguns automóveis.

In [11]:
# Construção do conjunto de dados
auto = pd.DataFrame({'montadora': ['ford', 'chevy', 'ford',
                                   'ford', 'ford', 'toyota'],
                     'modelo': ['mustang', 'camaro', 'fiesta',
                                'focus', 'taurus', 'camry'],
                     'nota': ['A', 'B', 'C', 'A', 'B', 'B'],
                     'tipo': ['coupe', 'coupe', 'sedan',
                              'sedan', 'sedan', 'sedan']})
# Inspeção da tabela
display(auto)

  montadora   modelo nota   tipo
0      ford  mustang    A  coupe
1     chevy   camaro    B  coupe
2      ford   fiesta    C  sedan
3      ford    focus    A  sedan
4      ford   taurus    B  sedan
5    toyota    camry    B  sedan

Construa a tabela de distrbuição conjunta de frequências usando o tipo do automóvel como indexador de linhas e as respectivas notas como colunas. A seguir, calcule a probabilidade de um automóvel: 

*   ser classificado com nota A, dado que é do tipo sedan.
*   ser do tipo coupe, dado que foi avaliado com nota B.

In [12]:
# Construção da tabela de distribuição conjunta
'''Seu código aqui!'''
tabela = pd.crosstab(auto.tipo, auto.nota, margins=True)
# Inspeção da tabela
display(tabela)
# Cálculo das probabilidades
'''Seu código aqui!'''
prob_1 = tabela.iloc[1, 0] / tabela.iloc[1, 3]
print(f'P(A|Sedan) = {prob_1*100:.2f}%')

prob_2 = tabela.iloc[0, 1] / tabela.iloc[2, 1]
print(f'P(A|Sedan) = {prob_2*100:.2f}%')

nota   A  B  C  All
tipo
coupe  1  1  0    2
sedan  1  2  1    4
All    2  3  1    6

'Seu código aqui!'

Verifique seus cálculos ao construir versões da tabela de distribuição conjunta normalizadas pelas colunas e linhas.

In [15]:
# Probabilidades condicionais: P(nota|tipo)
print('** Probabilidades condicionais: P(nota|tipo) **')
'''Seu código aqui!'''
tabela_linhas = pd.crosstab(auto.tipo, auto.nota, margins=True, normalize='index')
display(tabela_linhas)
# Probabilidades condicionais: P(tipo|nota)
print('** Probabilidades condicionais: P(tipo|nota) **')
'''Seu código aqui!'''
tabela_colunas = pd.crosstab(auto.tipo, auto.nota, margins=True, normalize='columns')
display(tabela_colunas)

** Probabilidades condicionais: P(nota|tipo) **

nota          A    B         C
tipo
coupe  0.500000  0.5  0.000000
sedan  0.250000  0.5  0.250000
All    0.333333  0.5  0.166667

** Probabilidades condicionais: P(tipo|nota) **

nota     A         B    C       All
tipo
coupe  0.5  0.333333  0.0  0.333333
sedan  0.5  0.666667  1.0  0.666667